<div class="container">
  <form action="/users/new" method="post">
    <input type="text" name="user[name]" placeholder="name"/><br/>
    <input type="text" name="user[email]" placeholder="email"/><br/>
    <input type="password" name="user[password]" placeholder="password"/><br/>
    <input type="submit" value="add user"/>
  </form>
</div>
