<div class="container">

  <form action="/posts/new" method="post">
    <input type="text" name="post[title]" placeholder="title"/><br/>
    <input type="text" name="post[url]" placeholder="url"/><br/>
    <input type="submit" value="add post"/>
  </form>

</div>
